@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.button {
  font-family: $font-family-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;

  padding: pxToRem(8) pxToRem(16);
  border-radius: pxToRem(20);
  border: none;
  cursor: pointer;

  &--primary {
    background-color: $color-link;
    color: $color-white;

    &:hover {
      opacity: 0.85;
    }
  }

  &--secondary {
    background-color: $color-card;
    color: $color-text;
    border: 1px solid $color-border;

    &:hover {
      box-shadow: 0 0 0 1px $color-neutral-300 inset;
    }
  }

  &--delete {
    background-color: $color-failure-400;
    color: $color-white;

    &:hover {
      opacity: 0.85;
    }
  }

  &:disabled {
    background-color: $color-neutral-200;
    color: $color-text-muted;
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }
}