@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

/* {
    border: 1px red solid;
}
    */

.transactions-page {
    padding: pxToRem(24);
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);

    &__title {
        margin: 0 0 pxToRem(12) 0;
    }

    &__cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: pxToRem(45);
        width: 100%;
        padding: pxToRem(13) pxToRem(18);
        border: 1px solid $color-neutral-200;
        border-radius: pxToRem(16);
    }

    &__table-prefix {
        display: flex;
        gap: pxToRem(16);
        justify-content: flex-start;
        align-items: center;
    }

    &__select {
        border-radius: pxToRem(20);
        padding: 0 pxToRem(16);
        height: pxToRem(36);
        border: #BDC5D5 solid 1px;
        font-size: pxToRem(13);
        line-height: pxToRem(20);

        &:focus {
            outline: none;
            border: #2E66E5 solid 1px;
        }
    }

    &__text {
        margin: 0;
        color: $color-text-muted;
    }
}