@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.dashboard-page {
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);
}

.dashboard-page__header {
  display: flex;
  flex-direction: column;
}

.dashboard-page__title {
  margin: 0;
}

.dashboard-page__charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: pxToRem(24);
}