@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.dashboard-page {

  &__top-wrapper {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24);
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
  }

  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: pxToRem(24);
  }

  &__summary-cards {
    display: flex;
    justify-content: space-between;
    gap: pxToRem(12);
  }
}

.table-row-header__wrapper {
  margin-bottom: pxToRem(16);
}