@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.icon {
  display: inline-block;
  vertical-align: middle;
  width: pxToRem(24);
  height: pxToRem(24);

  &--active {
    path {
      fill: $color-link;
    }
  }

  &--delete {
    path {
      fill: $color-failure-400;
    }
  }

  &--error {
    path {
      fill: $color-failure-400;
    }
  }
}