@use "./fonts" as *;
@use "./variables" as *;
@use "./functions" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-primary;
  color: $color-text;
  background-color: $color-bg;
  margin: 0;
}

a {
  color: $color-link;
}