@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.app-layout {
  display: grid;
  grid-template-columns: pxToRem(320) 1fr;

  height: 100vh; /* lock layout to viewport */
  overflow: hidden; /* prevents sidebar from stretching */

  background: $color-bg;
}

.app-layout__right {
  height: 100vh;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.app-layout__header {
  padding: pxToRem(20) pxToRem(24) 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 0;
  width: 100%;
}

.app-layout__content {
  flex: 1;
  padding: pxToRem(24);
  min-width: 0;

  min-height: 0; /* important: allows scrolling */
  overflow: auto; /* scrolling happens here */
}

.app-layout__page {
  background: $color-card;
  border: 1px solid $color-border;
  border-radius: pxToRem(16);
  padding: pxToRem(24);

  min-width: 0;

  animation: pageIn 180ms ease-out;
  will-change: transform, opacity;

}

@keyframes pageIn {
  from {
    opacity: 0;
    transform: translateY(pxToRem(8));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}