@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.table-row-header {

    background-color: #005F60;
    display: flex;
    justify-content: space-around;

    .typography--h4 {
        margin-top: 0;
        margin-bottom: 0;
        color: $color-neutral-100;
    }

    padding: pxToRem(11) pxToRem(0) pxToRem(11) pxToRem(32);


    &__cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 0;
    }

    &__label {
        color: $color-neutral-100;
    }

    &__sort-button {
        all: unset;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }

    &__sort-icon {
        display: block;
        transform: scale(0.75);
        transform-origin: center;
    }
}